// * All colors needed.
$medium-green: #2196f3;
$bg-transparent: #22b3c1;
$lighter-green: #fff;
$light-green: #82dbd8;
$darker-green: #005555;
$darker-white:#fff;
$dark-green: #2A6ADE;
$dark-black-green: #062c30;
$native-dark: #232223;
$semi-native-dark: #2a2a2a;
$semi-white-color: #afafaf;
$semi-dark: #575757;
$whiter-color: #898989;

// * Add all colors to $colors map.
$colors: (
    "medium-green": $medium-green,
    "lighter-green": $lighter-green,
    "light-green": $light-green,
    "darker-white": $darker-white,
    "dark-green": $dark-green,
    "dark-black-green": $dark-black-green,
    "native-dark": $native-dark,
    "semi-native-dark": $semi-native-dark,
    "semi-white-color": $semi-white-color,
    "semi-dark": $semi-dark,
    "whiter-color": $whiter-color,
);
