.testimonial-section {
    position: relative;
    background: linear-gradient(135deg, #2A6ADE, #150137);
    padding: 80px 0px;
        z-index: 1;
    &::after{
             content: "";
             position: absolute;
             top: 0;
             left: 0;
             background-image: url(../../assets/images/best/ai-bg.png);
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             width: 100%;
            height: 100%;
            z-index: -1;
    }
    .testimonial-title{
        span{
                  font-family: "Inter", sans-serif;
                  font-size: 14px;
                  font-weight: 500;
                  text-transform: uppercase;
                  line-height: 24px;
                  color: #70A1FB;
        }
        h2{
                  font-family: "Inter", sans-serif;
                  font-size: 27px;
                  font-weight: 600;
                  line-height: 40px;
                  color: #fff;
        }
    }
}
.testimonial-slider {
  position: relative;
    .testimonial-card{
               .testimonial-inner{
                  background: #fff;
                  margin-right: 15px;
                  border-radius: 10px;
                  padding: 20px;
                   @include breakpoint(tablet) {
                       margin-right: 0px;
                  }
                 p{
                   font-family: "Inter", sans-serif;
                  font-size: 14px;
                  font-weight: 400;
                  text-transform: capitalize;
                  line-height: 24px;
                  color: #2D2D2D;
                  text-align: justify;
                 }
                 h6{
                      font-family: "Inter", sans-serif;
                      font-size: 18px;
                      font-weight: 600;
                      text-transform: capitalize;
                      line-height: 24px;
                      color: #2D2D2D;
                 }
               }
               .avatar{
                span{
                      font-family: "Inter", sans-serif;
                      font-size: 14px;
                      font-weight: 500;
                      text-transform: capitalize;
                      line-height: 24px;
                      color: #1F1F1F;
                }
               }
                 .stars {
                 margin: 10px 0;
               }

          .star-icon {
            color: #3F78E0; /* Gold */
            margin-right: 4px;
            font-size: 16px;
          }
    }
  .custom-arrow {
    position: absolute;
    bottom: -42px;
    z-index: 10;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #989898;
    padding: 10px;
    font-size: 16px;
    width: 30px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .custom-prev {
    left: 0px;
       @include breakpoint(tablet) {
            left: 0px;
      }
  }

  .custom-next {
    left: 51px;
      @include breakpoint(tablet) {
            right: -38px;
      }
  }

  .custom-arrow:hover {
    background-color: #2a6ade;
    color: #fff;
  }

   .slick-dots {
    bottom: -80px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      margin: 0 5px;

      button {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #D9D9D9;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &::before {
          display: none; 
        }
      }

      &.slick-active button {
        background-color: #3F78E0; 
        width: 14px;
        height: 14px;
      }
    }
  }
}

